
.wrapper{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;

}
.titulo{
    width: 100%;
    height: 15%;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(180deg, #78fbfb00 0%, #2DE2E2 100%);
}
.rodape{
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0px;
    top: 970px;
    background: linear-gradient(180deg, #3cfff300 , #0AC1C1 100%);

}
.menu{
    width: 12%;
    height: 78%;
    left: 2px;
    top: 180px;
    position: absolute;
    background: #b3eaf1;
}
.conteudo{
    width:75%;
    height:78%;
    font-family:monospace;
    background: #add6e8;
    position:absolute;
    left: 18%;
    top: 200px;
    text-align: center;

}
.logo{
    left: 0px;
    top: 4px;
    left: 1px;
    position:absolute;

}